<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMDownloader.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedCatagory" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="SelectedColumnHeader" serializeAs="String">
                <value>Added</value>
            </setting>
            <setting name="SelectedColumnHeaderDirection" serializeAs="String">
                <value>Descending</value>
            </setting>
            <setting name="AddWindowWidth" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="AddWindowHeight" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="AddDownloadWindowFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="LastDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="EnqueueAddedItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartDownloadingAddedItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BytesTransferredOverLifetime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxParallelDownloads" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxParallelConnPerDownload" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDownloadSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="RememberLastDownloadLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearCompletedDownloadsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </AMDownloader.Properties.Settings>
    </userSettings>
</configuration>